main{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url('../imagem/bando.png');
    background-size: cover;
    padding: 20px 20px 50px;
}




.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 800px;
    margin: 0px auto;
}
.card{
    aspect-ratio: 3/4;
    width: 100%;
    border-radius: 5px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
}
.face{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border: 2px solid #39813a;
    border-radius: 5px;
    transition: all 400ms ease;
}
.front{

}
.back{
    background-image: url('../imagem/capa.png');
    backface-visibility: hidden;
}
.reveal-card{
    transform: rotateY(180deg);
}

.disabled-card{
    filter:saturate(0);
    opacity: 0.5;
}
