@import url('https://fonts.googleapis.com/css2?family=Honk&family=Jersey+25+Charted&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    border: none;
    FONT-FAMILY: 'PRESS START 2P', cursive;
}